# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Visual Studio
*.opensdf
*.sdf
.vs
*.tlog
*.log
*.lastbuildstate
unsuccessfulbuild
*.obj
*.idb
*.pdb
*.ilk

# Directories/files
Debug
Release
*.exe
*.opendb
7-Lighting/Skull/Models/car.txt
*.txt
*.fxo